@import 'normalize.scss';

body {
  background-color: #f7f7f7;
  #root {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: flex-start;
      min-height: 100vh;
      width: 100vw;
      .board {
        padding: 10px 20px 80px ;
        margin:  20px 5px 0px 20px;
        border-radius: 5px;
        border: 2px solid  #00bcd4;
        text-transform: capitalize ;
        .TaskList {
          .header {
            text-transform: uppercase;
            font-family: Helvetica, sans-serif;
          }
          .Adding {
            display: flex;
            align-items: center;
            .plusBtn {
              margin-top: 10px;
            }
          }
        }

      }
      .boardAdd {
        display: flex;
        align-items: center;
        margin: 20px;
        padding: 10px;
        border-radius: 5px;
        border: 2px solid #ff4081;
      }
    }
  }
}